In [1]:
a = 10
print(a)

10

In [2]:
a = 3523
print(a)

3523

In [3]:
print(1)

1

In [19]:
name = input("Enter name: ")

count = 0

while count < len(name):
    print(f"{count+1})",name[count].upper())
    count += 1
          
print(name)

Enter name:  HI, MY NAME IS DR.JOEL.

1) H
2) I
3) ,
4)
5) M
6) Y
7)
8) N
9) A
10) M
11) E
12)
13) I
14) S
15)
16) D
17) R
18) .
19) J
20) O
21) E
22) L
23) .
HI, MY NAME IS DR.JOEL.

In [10]:
x=10
print(x*x)

100

# Lesson 2 Exercise
## Create a program that will do the following:
1. Ask user to key in a name
2. Add name into a list
3. Repeat  step 1 & 2 until user keys "done"
4. Once done, use for loop to print out each name
With  a number infront.
Eg: a) Joel
    b) Daniel
    c) Mac

In [ ]:
box = []

while True:
    ask=input("what is your name?: ")
    if ask == 'done':
        break
    else:
        box.?????(ask)

In [11]:
import pandas as pd

In [12]:
cars = {'Brand':['Honda','Toyota','Ford'],
        'Price':[22000,25000,27000]}

cars_df = pd.DataFrame(cars, columns = ['Brand','Price'])

cars_df = pd.DataFrame(cars, columns = ['Brand','Price'], 
                       index = ['Car 1','Car 2','Car 3'])

cars = {'Brand':['Honda','Toyota','Ford'],
        'Price':[22000,25000,27000],
       'Year':[2010,2011,2008]}

cars_df = pd.DataFrame(cars, columns = ['Brand','Price','Year'], 
                       index = ['Car 1','Car 2','Car 3'])

car_type = ['Sedan','Sedan','Sedan']
cars_df['Type'] = car_type

cars_df.insert(1,'Model',['Civic','Prius','Focus'],True)

cars_df['Double'] = cars_df['Price'] * 2

cars_df.drop('Type',axis='columns',inplace=True)


cars_df.drop('Double',axis='columns',inplace=True)

print(cars_df)

        Brand  Model  Price  Year
Car 1   Honda  Civic  22000  2010
Car 2  Toyota  Prius  25000  2011
Car 3    Ford  Focus  27000  2008

In [16]:
new_car_1 = {'Brand':'Hyundai','Model':'Avante','Price':20000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000,'Year':2021}
#cars_df = cars_df.append(new_car_1,ignore_index=True)
cars_df.loc['Car 4'] = new_car_1

discount = cars_df['Price']*0.1
cars_df.insert(4,'Discount',discount,True)

In [17]:
cars_df

,Brand,Model,Price,Year,Discount
Car 1,Honda,Civic,22000,2010,2200.0
Car 2,Toyota,Prius,25000,2011,2500.0
Car 3,Ford,Focus,27000,2008,2700.0
Car 4,Hyundai,Avante,2000000000000000000000000000000000000000000000...,2021,2000000000000000185666940744046398193780696904...

In [49]:
import pandas as pd

In [50]:
dataset = {'Name':[],'Age':[],'Money':[]}

In [51]:
while True:
    Name=input("What is your name: ")
    Age=input("What is your age: ")
    Money=input("How much money do you have: ")
    choice=input("Do you want to contiune? [y/n]")
    if choice == 'y':
        continue
    elif choice == 'n':
        dataset['Name'].append(Name)
        dataset['Age'].append(int(Age))
        dataset['Money'].append(int(Money))
        dataset_df = pd.DataFrame(dataset, columns = ['Name','Age','Money'], 
                                 index = [f'Student{reg+1}' for reg in range(len(dataset['Name']))])
        print(member_df)

        break

What is your name:  joel
What is your age:  32
How much money do you have:  12
Do you want to contiune? [y/n] y
What is your name:  john
What is your age:  43
How much money do you have:  23
Do you want to contiune? [y/n] n

          Name                         Age  Money
Student1  poop  10000000000000000000000000      1
Student2  poop                134341431413      1