In [4]:
import pandas as pd

pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)
pd.set_option('display.width',None)

In [5]:
pkm_df = pd.read_csv("Pokemon_Gen_1-8.csv")

In [6]:
pkm_df1 = pkm_df[['Name','Type 1','Total']]
pkm_df1.columns = ['Name','Main Type','Total']
pkm_df1.head()

                       Name Main Type  Total
0                 Bulbasaur     Grass    318
1                   Ivysaur     Grass    405
2                  Venusaur     Grass    525
3  Venusaur (Mega Venusaur)     Grass    625
4                Charmander      Fire    309